:root{
    font-size: 16px;
}

main{
    background-color: #FFFFFF;
    width: 1100px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
}

#flag{
    width: 95%;
    height: 95%;
    background-color: #002868;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

#flag div{
    background-color: #EF2B2D;
    height: 40%;
}


#flag .up{
    border-bottom: 40px solid #FFFFFF;
}

#flag .down{
    border-top: 40px solid #FFFFFF;
    position: relative;
    top: 2.25rem;
}

.left-box{
    width: 29%;
    border-right: 2.5rem solid #FFFFFF;
}

.right-box{
    width: 56%;
    border-left: 2.5rem solid #FFFFFF;
}